/* 初始化 清除页面元素内外边距 */
* {
  padding: 0;
  margin: 0;
}

.container {
  /* 弹性布局 */
  display: flex;
  /* 主轴向下 */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* 宽度占浏览器可视窗口总宽度 */
  width: 100vm;
  /* 高度占浏览器可视窗口总高度 */
  height: 100vh;
  background: black;
}

.container a {
  /* 相对定位 子绝父相 */
  position: relative;
  display: block;
  width: 140px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  margin: 50px;
  font-size: 20px;
  color: aqua;
  text-decoration: none;
  /* 过渡时间 */
  transition: all 0.3s ease-in-out;
  /* 定义四个盒子的颜色 */
  /* 刚才定义的--i属性值可以通过var函数来调用 */
  /* hue-rotate给图像应用色相旋转 */
  filter: hue-rotate(calc(var(--i) * 60deg));
}

.container a::before,
.container a::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid aqua;
  /* 过渡时间 最后0.3秒是延迟时间 */
  transition: all 0.3s ease-in-out 0.3s;
}

.container a::before {
  top: 0;
  left: 0;
  border-right: 0;
  border-bottom: 0;
}

.container a::after {
  bottom: 0;
  right: 0;
  border-left: 0;
  border-top: 0;
}

.container a:hover {
  background: aqua;
  color: black;
  /* 阴影 */
  box-shadow: 0 0 50px aqua;
  /* 倒影 */
  -webkit-box-reflect: below 10px
    linear-gradient(transparent, rgba(0, 0, 0, 0.3));
  /* 以上属性的延迟时间 */
  transition-delay: 0.4s;
}

.container a:hover::before,
.container a:hover::after {
  width: 138px;
  height: 58px;
  /* 以上属性的延迟时间 */
  transition-delay: 0s;
}
